/* 
Dari tugas Day 4 atau buat file html baru, silahkan tambahkan style css dengan requirement :
- Memakai selector class,id dan tag ✅
- Mengubah font-size ✅
- untuk tag <a> buat dia tidak berwarna biru ✅
- Mengubah warna tulisan ✅
- mengubah font ✅
- mengubah background ✅
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: yellowgreen;
  position: relative;
  padding-bottom: 10rem;
  min-height: 100%;
}

header{
  padding: 1% 5%;
}

footer{
  text-align: center;
  padding: 16px;
  background: chocolate;
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.logo{
  max-width: 40px;
  height: fit-content;
}

.navbar-menu{
  list-style-type: none;
}

.navbar-menu li{
  display: inline-block;
}

.navbar-menu li a{
  padding: 1em;
  text-decoration: none;
  color: white;
}

main{
  padding: 2% 5%;
}
